{% extends "base.html" %}
{% block maincontent %}
<form method="post">
    <fieldset class="callout text-center" style="width:400px">
        <legend class="">
            <img src="{{url_for('static', filename='pics/certif.png')}}" alt="certif">
        </legend>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="margin-vertical-1 grid-y grid-padding-y">
            <div class="cell">
                <input type="password" name="superpass" placeholder="mot de passe" class="text-center"/>
            </div>
            <div class="cell ">
                <button type="submit" class="button">Télécharger la synthèse</button>
            </div>
        </div>
        <hr/>
        <footer class="row margin-top-2"><small>Ce service a été conçu et réalisé par <a href="https://couleurwest-it.com">Couleur West IT</a></small></footer>
    </fieldset>
</form>
{% endblock %}
